// HOME PAGE STYLES
.homeContainer {
  h1 {
    font-size: 4rem;
  }
}

.dragContainer {
  display: flex;
  justify-content: center;
  color: black;
  width: 100%;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.groupColumnContainer {
  display: flex;
}
.sortable {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 2px 3px #e2e2e2;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  text-align: left;
}

.inputNew input {
  border: none;
}
